body{
    background-image: url(../assets/fondo\ runner.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.title{
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 55%;
    font-size: medium;
    border: solid 1px black;
    background-color: black;
}

.form{
    text-align: center;
    color: white;
    margin-top: 10%;
    margin-bottom: 36%;
}

footer{
    color: white;
    text-align: center;
    text-decoration: none;
}